:root {
    --color-primary: #8BD627;
    --color-green: #0DC061;
    --color-emerald: #00A481;
    --color-Turquoise4: #00868B;
    --color-Bluewood: #2F4858;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #C0BCE6;
}

header {
    /*background: rgb(13,192,97);*/
    /*background: linear-gradient(0deg, rgba(13,192,97,1) 0%, rgba(0,164,129,1) 59%, rgba(0,134,139,1) 100%);*/
    width: 100%;
    height: 100px;
    background-color: #986590;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B19FCB;
}

.border-div {
    width: 100%;
    border-bottom: 1px solid var(--color-Bluewood);
    position: absolute;
    top: 80px;
}

.header-name {
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
    padding: 30px 0px 0px 20px;
    display: flex;
}

.header-menu {
    display: flex;
    padding-right: 60px;
    font-family: 'Stylish', sans-serif;
    font-size: 25px;
    padding-top: 35px;
    position: relative;
}

.header-menu div{
    margin-right: 30px;
}

.header-menu-intro:hover,
.header-menu-tech:hover{
    cursor: pointer;
    color: white;
}

.header-menu img {
    position: absolute;
    top: 34px;
    width: 30px;
    height: 30px;
}

.info-container {
    margin-top: 100px;
    padding: 0px 300px;
    font-family: 'Stylish', sans-serif;
    display: flex;
    justify-content: center;
    color: #8A496F;
}

.info-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.info-content {
    height: 300px;
    border-radius: 15px;
    border: 2px solid #A582AE;
    box-shadow: 1px 1px 4px;
    padding: 20px;
}

.profile {
    width:auto;
    height:500px;
    margin-right: 100px;
}

.info-content p {
    width: 450px;
    line-height: 25px;
}

.info-content-bold {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

.bold-span {
    font-weight: bold;
}

p span:last-child {
    font-size: 20px;
    display: block;
    margin-top: 20px;
}